# Byte-compiled / optimized / DLL files
__pycache__/
.vscode/
models_in/
models_out/
*.txt
*.sh
comparison_results.ods
*.h5

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

#Jupyter notebook.
.ipynb_checkpoints/
